.editor {
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}
.editor__canvas {
  display: flex;
}
.editor__canvas canvas {
  border: 1px solid black;
  margin-bottom: 16px
}
.editor__canvas canvas.--active {
  cursor: pointer
}
.editor__canvas__tools {
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column
}
.editor__canvas__tools > button {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.editor__canvas__top-tools button {
  padding-right: 8px;
}
.editor__canvas__tools {
  padding-top: 20px;
}
.editor__canvas__tools > button {
  position: relative;
  padding: 8px;
}
.editor__canvas__tools > button:hover {
  background: rgba(0, 50, 255, 0.25);
}
.editor__canvas__tools > button > label {
  font-size: 8pt;
  font-weight: bolder;
  width: 45px;
}

.editor__canvas__tools__grid--hide svg,
.editor__canvas__tools__flip--flip svg {
  background: rgba(255, 50, 0, 0.25);
}

.editor__canvas__tools__save--active svg {
  color: red;
}

.editor__canvas__tools__address {
  float: right;
}
