.palette__wrapper {
  display: flex;
}
.palette {
  width: 100%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}
.palette > div:first-child {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px
}
.palette__settings {
  display: flex;
  flex-direction: row
}
.palette__settings__16 {
  display: flex;
  flex-direction: column
}
.palette__settings__colors {
  display: flex;
  flex-wrap: wrap;
  width: 256px;
}
.palette__settings__colors > button, .palette__settings__16 > button {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
}
.palette__settings__colors > button.--active {
  border: 2px solid white;
}
.palette__current-colors > div {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc
}
.palette__current-colors {
  padding-top: 9px
}
.palette__current-colors > div:first-child {
  position: relative;
  margin-right: 32px;
  z-index: 10;
}
.palette__current-colors > div:last-child {
  position:absolute;
  margin-left: 16px;
  margin-top: -18px;
  z-index: 5
}
.palette__sliders {
  border-top: 1px solid #ccc;
  margin: -30px 10px 0 0;
  padding-top: 10px;
}
.palette__sliders, .palette__sliders > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.palette__sliders > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}
.palette__sliders > div > label {
  padding-right: 16px
}
.palette__settings__misc {
  display: flex;
  font-size: 10pt;
  font-weight: bolder;
  justify-content: flex-end;
  padding-bottom: 16px;
  width: 256px;
}
.palette__settings__misc > button {
  margin-right: -16px;
}
.palette__buttons {
  width: 20px;
  height: 30px;
  margin-left: 8px;
  margin-top: -5px;
}
.palette__buttons button {
  border: 1px solid #ccc;
  padding: 5px;
}
.palette__buttons button svg {
  padding: 0;
}
.palette__sliders__buttons {
  width: 20px;
  height: 60px;
}
.palette__save, button.palette__save:disabled {
  border: 1px solid #ccc !important;
  margin-right: 8px;
  padding: 0 5px;
  height: 64px;
}
.palette__save button.--active {
  color: red;
}
.palette__sliders__undo {
  border: 1px solid red !important;
}
.palette__sliders__misc {
  border: 1px solid #333 !important;
  color: #333
}

.palette__sliders__misc.--locked {
  border: 1px solid #333 !important;
  background: #333;
  color: white;
}
.palette__sliders__misc {
  border: 1px solid #333 !important;
  color: #333
}
.palette__sliders__undo > svg {
  width: 10px;
}
.palette__sliders__copy-paste {
  height: 40px;
}
.palette__sliders__slider {
  width: 290px
}
.palette-globals {
}
.palette__sprite-mode {
  margin-top: 10px;
  font-weight: bold;
}
.palette__radio--crossed:before {
  position: absolute;
  content: "\274c";
  font-size: 30px;
  color: #555;
  line-height: 100px;
  text-align: center;
}
.globals {
  width: 100px;
  padding: 5px;
  border: 1px solid gray;
  background-color: #eee;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.globals .globals__title {
  font-weight: bold;
  text-align: center;
}
.globals .globals__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.globals .globals__buttons.--evenly {
  justify-content: space-evenly;
}